table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #fff;
    color: #333;
}

body
{
    background-color: #eeeeee;
}
/* ci dessous appelle classe*/
.test{
    background: white;
    width: 600px; 
    margin: auto;
    padding: 32px;
}
