table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #fff;
    color: #333;
}

body
{
    background-color: #eeeeee;
}
/* ci dessous appelle classe*/
.test{
    background: white;
    width: 600px; 
    margin: auto;
    padding: 32px;
    font-family: 'sans-serif';
    text-align: justify;
}
.LEGO{
    font-style: italic;
    color: #007bff;
}
a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{

    text-decoration: underline;
}
.Sépcifice{
    font-size: 12px;
    text-align: right;
}
